.centertext {
    text-align: center;
}

.lefttext {
    text-align: left;
}

.righttext {
    text-align: right;
}

.full img {
    width: 100%;
}

.img70 img {
    width: 70%;
}

p.white {
    color: #fff !important;
    font-size: 13px;
}

@media (max-width: 768px) {
    .pad50 {
        padding: 20px 0px !important;
    }

    .img70 img {
        width: 40%;
    }
}


/* =============== margin & padding style ============ */

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt50 {
    margin-top: 50px;
}

.mb10 {
    margin-top: 10px;
}

.mb20 {
    margin-top: 20px;
}

.mb50 {
    margin-bottom: 50px;
}

.pt50 {
    padding-top: 50px;
}

.pr50 {
    padding-right: 50px !important;
}

.pad50 {
    padding: 50px;
}

@media (max-width: 768px) {
    .pt50 {
        padding-top: 10px;
    }

}


/* ============= mega =============== */

.megamenu {
    position: static;
}

.megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%;
    /* margin-top: -20px !important; */
}

/* auto hover
.dropdown:hover>.dropdown-menu {
 display: block;
}
*/

.megacolor {
    color: #ddd;
}

.megacolor a {
    color: #3f3d3d;
    line-height: 30px;
}

.megacolor a:hover {
    color: #106336;
}

.my-icon {
    line-height: 23px;
    float: left;
    margin-right: 10px;
}

.nopad {
    padding: 0px !important;
}

.megajudul h2 {
    color: #106336;
    font-size: 25px;
    padding: 0px !important;
    line-height: 30px;
    margin: 0px 0px 10px;
}

.megajudul p {
    letter-spacing: 0px;
    line-height: 20px;
}

code {
    color: #745eb1;
    background: #fff;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
}


@media (max-width: 768px) {
    .p-4 {
        overflow-x: hidden;
        max-height: 400px;
        padding: 10px 0px 5px 0px !important;
    }

    .megajudul, .my-icon {
        display: none;
    }

    .megacolor a {
        line-height: 10px !important;
        color: #fff;
    }

    .mega img {
        display: none;
    }

    .mb-4 {
        margin: 0px !important;
    }

    .fa-2x {
        display: none !important;
    }

    .shadow-sm {
        box-shadow: none !important;
    }

    .bg-white {
        background-color: transparent !important;
    }

    .dropdown-toggle::after {
        float: right;
        margin-top: 8px;
    }

    .dropdown-menu {
        color: #fff !important;
        background-color: transparent !important;
        border: 0px solid rgba(0, 0, 0, 0.15) !important;
        border-radius: 0 !important;
    }

    .dropdown-item {
        color: #fff !important;
    }

    .dropdown-item:hover {
        background-color: transparent !important;
        color: #106336 !important;
    }

    button:hover, button:focus, .button:hover, .button:focus {
        background-color: #106336 !important;
    }


    .carousel-item {
        height: 20rem !important;
    }

    .carousel-item > img {
        height: 20rem !important;
    }

}

/* ========== headline ============== */

h1.headline {
    color: #004c23;
    margin-top: 0px !important;
    margin-bottom: 5px;
    padding-left: 20px !important;
    font-family: "Roboto";
    letter-spacing: -2px;
    line-height: 50px;
    font-size: 40px;
}

p.headline {
    margin: 0px 0px 20px 20px;
    color: #1e1e1e;
}

.headline a {
    border-radius: 50px;
    width: 200px;
    background-color: #5e9517;
    border: none;
    font-weight: bold;
    font-size: 17px;
}

@media (max-width: 768px) {
    h1.headline {
        font-size: 25px;
        line-height: 30px;
        letter-spacing: -1px;
        padding: 10px !important;
    }

    p.headline {
        display: none;
    }
}


/* ============== About ============== */

.bgabout {
    background-color: #575757;
    margin-bottom: 30px;
    padding: 40px;
}

b.about {
    margin: 0px 0px 0px -30px !important;
    padding: 10px 15px;
    background-color: #5e9517;
    font-weight: bold;
    font-size: 17px;
    border-radius: 0px 50px 50px 0px;
    color: #fff;
}

b.location {
    margin: 0px !important;
    padding: 10px 15px;
    background-color: #5e9517;
    font-weight: bold;
    font-size: 17px;
    border-radius: 10px;
    color: #fff;
}

p.about {
    color: #fff;
    font-size: 15px;
}

.rowabout {
    margin: 0px !important;
    padding: 50px 0px !important;
}

.rowabout img {
    margin-top: 5em;
}

.leftmenu {
    width: 250px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-color: #5e9517;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    margin: 0px 0px 20px -50px;
}
p.ourvision {
    width: 250px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-color: #5e9517;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    margin: 0px 0px 20px -50px;
}

@media (max-width: 768px) {
    .rowabout {
        padding: 0px !important;
    }

    p.about {
        text-align: justify;
        margin-top: 30px;
    }

    .rowabout img {
        margin-top: 10px;
    }
}


/* =============== news ============== */


h5.card-body {
    margin: 0px 0px 10px 0px !important;
    padding: 0px;
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
}

.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}


/* ============== Company logo ====== */

.banner img {
    height: 600px;
    width: 100%;
}

.bottom-left {
    position: absolute;
    bottom: 50px;
    left: 35px;
}

p.rowpad {
    padding: 2.8em 3em 0em 0em;
}

.rowpad img {
    padding: 50px 0px 50px 50px;
}

.rowlogo {
    /*border: 1px solid #929292;*/
    padding: 3rem 1.5rem;
    background-color: #bbffc1;
}

.rowlogo1 {
    /*border: 1px solid #929292;*/
    padding: 3rem 1.5rem;
    background-color: #8dadff;
}

.rowlogo2 {
    /*border: 1px solid #929292;*/
    padding: 3rem 1.5rem;
    background-color: #84ffef;
}

.rowlogo3 {
    /*border: 1px solid #929292;*/
    padding: 3rem 1.5rem;
    background-color: #ffdfb4;
}

.rowlogo4 {
    /*border: 1px solid #929292;*/
    padding: 3rem 1.5rem;
    background-color: #caffa0;
}

.rowlogo5 {
    /*border: 1px solid #929292;*/
    padding: 3rem 1.5rem;
    background-color: #fffdc5;
}

.rowlogo5 {
    /*border: 1px solid #929292;*/
    padding: 3rem 1.5rem;
    background-color: #fffdc5;
}

.rowlogo6 {
    /*border: 1px solid #929292;*/
    padding: 3rem 1.5rem;
    background-color: #dbeaff;
}

.rowlogo7 {
    border: 1px solid #929292;
    padding: 3rem 1.5rem;
    background-color: #ffffff;
}

.desk {
    display: inline;
}

.desk2 {
    display: none;
    overflow: auto;
}

h1.desk2 {
    display: none;
}

@media (max-width: 768px) {
    .rowpad {
        padding: 40px 10px 20px 10px;

    }

    .rowpad img {
        padding: 20px 20px 0px 20px;
    }

    p.rowpad {
        text-align: justify;
        padding: 10px;
    }

    .rowlogo {
        padding: 10px 30px;
        border: none;
    }

    .rowlogo {
        border: none;
        padding: 10px 30px;
    }

    .rowlogo1 {
        padding: 10px 30px;
        border: none;
    }

    .rowlogo2 {
        padding: 10px 30px;
        border: none;
    }

    .rowlogo3 {
        padding: 22px 30px;
        border: none;
    }

    .rowlogo4 {
        padding: 22px 30px;
        border: none;
    }

    .rowlogo5 {
        padding: 10px 30px;
        border: none;
    }

    .rowlogo6 {
        padding: 22px 30px;
        border: none;
    }

    .rowlogo7 {
        padding: 10px 30px;
        border: none;
    }

    .desk {
        display: none;
    }

    .desk2 {
        display: inline-block;
        /*text-align: justify;*/
    }

    h1.desk2 {
        display: inline-block;
        text-align: center;
        font-size: 20px;
        margin: 0px;
    }

    .card-img-bor {
        padding: 30px;
        width: 100%;
    }

    h3.policy {
        padding-left: 15px;
    }

}


/*=== paragraph =====*/
.number {
    float: left;
    font-size: 40px;
    margin-right: 7px;
    margin-top: -10px;


}
first-letter {
    font-size: 200%;
    color: #8A2BE2;
}

.number3 {
    float: left;
    font-size: 40px;
    margin-right: 10px;
    margin-top: -2px;
}

.number4 {
    float: left;
    font-size: 40px;
    margin-right: 10px;
    margin-top: -17px;
}

.number5 {
    float: left;
    font-size: 40px;
    margin-right: 10px;
    margin-top: -17px;
}

.number6 {
    float: left;
    font-size: 40px;
    margin-right: 10px;
    margin-top: 0px;
}

.number7 {
    float: left;
    font-size: 40px;
    margin-right: 10px;
    margin-top: -17px;
}

/* ============== profile ============ */

h3.profle {
    padding-left: 15px;

}

p.profile {
    font-weight: bold;
    color: #fff;
    font-size: 35px;
    padding: 1.5em 1em;
}

p.smallp {
    text-align: left;
    color: #fff;
    position: absolute;
    left: 8%;
    top: 21%;
    font-size: 17px;
}

.tri img {
    width: 40px;
    position: absolute;
    bottom: -20px;
    left: -20px;
    z-index: 99;
}

.padcuci img {
    padding: 3em 3em 3em 10em;
    width: 80%;
}

@media (max-width: 768px) {
    .banner img {
        height: 200px;
    }

    .bottom-left {
        position: absolute;
        bottom: 0em;
        left: 32px;
    }

    .leftmenu {
        width: 160px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        background-color: #5e9517;
        padding: 5px 0px 7px 5px;
        border-radius: 0px 10px 10px 0px;
        margin: 0px 0px 20px -50px;
        font-size: 12px;
    }

    p.profile {
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        padding: 20px 20px 0px 20px;
    }

    p.smallp {
        font-size: 14px;
        position: inherit;
    }

    p.coklat {
        padding: 20px 20px 20px 20px;
        text-align: justify;
    }

    p.blueold {
        padding: 30px 20px 0px 35px;
        text-align: justify;
    }

    p.grayold {
        padding: 10px 10px 0px 35px;
        text-align: justify;
    }

    p.greensoft {
        padding: 0px 20px 0px 20px;
    }

    .padcuci img {
        padding: 1em 1em 2em 4.5em;
    }

    .tri {
        min-height: 20px;
    }

    .tri img {
        width: 30px;
        position: absolute;
        bottom: -15px;
        left: 44%;
    }

}

/* ============ vision ============== */


.backgroundvision {
    padding: 0px;
    /*background-color: #94e36c;*/
    background-image: url("../img/vision/background.jpeg");
    background-size: 100% 100%;
    width: auto;
    height: 360px;

}

.leftmenuvision {
    width: 250px;
    color: #fff;
    height: 44px;
    font-weight: bold;
    text-align: center;
    background-color: #ecdb0c;
    padding: 1px;
    /*border-radius: 0px 10px 10px 0px;*/
    margin: 0px 0px 20px -50px;
}

.textmision {
    color: #fff;
    font-weight: bold;
    padding: 4px;
    font-size: larger;
}

.bottom-leftvision {
    position: absolute;
    /*bottom: 50px;*/
    bottom: 80px;
    left: 35px;
}

p.vision {
    color: #fff;
    font-size: 30px;
    padding: 2em 2.5em 0px 2.5em;

}

p.vision2 {
    color: #2b2b2b;
    font-size: 35px;
    /*padding: 0px 10px 0px 2em;*/
    padding: 175px 10px 0px 2em;
    font-weight: bold;
    font-style: italic;
}

p.vision3 {
    color: #fff;
    font-size: 25px;
    padding: 0px 10px 50px 3em;
}

p.vision4 {
    font-size: 22px;
    padding: 5em 0px 4em 3.4em;
    text-align: justify;
}

p.vision5 {
    font-size: 22px;
    padding: 0em 5em 2em 0em;
}

div.leading{
    color: #2b2b2b;
    font-size: 35px;
    /*padding: 0px 10px 0px 2em;*/
    padding: 0px 100px 0px 2em;
    font-weight: bold;
    font-style: italic;
}

.head img {
    padding: 7em 5em 4em 0em;
    width: 80%;
}

.ourmission img {
    width:100%;
    height:auto;
    /*padding: 0px 8em 4em 0px;*/
}

.value img {
    width: 100%;
    padding: 0px 50px 50px 50px;
}

h1.ourmission {
    text-align: center;
    font-size: 40px;
    margin: 40px 0px 20px 0px;
    font-weight: bolder;
    background-color: #ecdb0c;
    color: #fff;
}

h2.values {
    font-size: 2rem;
    font-weight: bold;
    padding: 0px 0px 0px 2.4em;
}

@media (max-width: 768px) {

    .leftmenuvision {
        width: 250px;
        color: #fff;
        height: 44px;
        font-weight: bold;
        text-align: center;
        background-color: #ecdb0c;
        padding: 1px;
        /*border-radius: 0px 10px 10px 0px;*/
        margin: 0px 0px 20px -50px;
    }

    .bottom-leftvision {
        position: absolute;
        /*bottom: 210px;*/
        /* bottom: 564px; */
		bottom: 100px;
        left: 35px;
    }

    p.vision2 {
        color: #2b2b2b;
        font-size: 26px;
        /*padding: 0px 10px 0px 2em;
        padding: 138px 10px 0px 2em;*/
        padding: 104px 10px 0px 2em;
        font-weight: bold;
        font-style: italic;
    }


    p.vision {
        color: #fff;
        font-size: 22px;
        padding: 1em 0px 0px 1.2em;
    }

    /*p.vision2 {
        color: #2b2b2b;
        font-size: 25px;
        padding: 0px 10px 0px 1em;
    }*/
    p.vision3 {
        color: #fff;
        font-size: 16px;
        padding: 0px 10px 10px 1em;
        text-align: justify;
    }

    p.vision4 {
        font-size: 16px;
        padding: 1em 0em 0em 0em;
        text-align: justify;
    }

    p.vision5 {
        font-size: 16px;
        padding: 0px 1em;
        text-align: justify;
    }

    h1.ourmission {
        margin: 5px 5px 20px 5px;
        font-size: 30px;
        background-color: #ecdb0c;
        color: #fff;
    }

    h2.values {
        font-size: 25px;
        padding: 0px;
        text-align: center;
        margin: 1.5em 0em 1em 0em;
    }

    .head img {
        padding: 0em 0em 2em 6em;
        width: 70%;
    }

    .ourmission img {
        padding: 0px;
        width:100%;
        height:auto;
    }

    .value img {
        padding: 0px;
        margin-bottom: 30px;
    }

    .background {
        padding: 0px;
        /*background-color: #94e36c;*/
        background-image: url("../img/vision/background.jpg");
        width: auto;
        height: 251px;
    }


}


/* ============ contact ============= */

.addres {
    padding: 3em 0px 2em 0px;
}

p.addres {
    font-size: 20px;
    padding: 0px;
}

.artContentSided {
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
}

.contact-form {
    background-color: #ececec;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contactform {
    margin: 10px 0px;
    color: #666;
    font-size: 17px;
    font-weight: 400;
}


@media (max-width: 768px) {

    p.addres {
        font-size: 15px;

    }

    .addres {
        padding: 2em 10px 0px 10px;
    }

    .contactform {
        margin: 0px;
        color: #666;
        font-size: 15px;
        font-weight: 400;
    }

}

/* ============== sustain ============ */

.rowsus {
    max-width: 100% !important;
    padding: 30px 50px;
    /*padding: 30px 252px;*/
}

p.sustain {
    padding: 50px 50px 10px 50px;
    text-align: justify;

}

.img_container {
    text-align: center;
    height: 150px;
    width: 150px;
}

.img_container > img {
    position: relative;
    top: calc(12% - 10px);
    width: 70%;
    height: auto;
}

.col-half-offset {
    margin-left: 2.166667%
}

p.lore {
    margin: 20px 0px;
}

.rowicon {
    max-width: 55rem !important;
    margin-bottom: 50px !important;
}

.leftmenusus {
    float: left;
    height: 40px;
    margin-top: 50px !important;
    margin-left: -85px !important;
}

.leftmenu img {
    position: absolute;
    width: 100px;
    height: auto;
    top: 20px;
    left: 10px;
}

.imgpalm img {
    width: 100%;
    padding: 30px 50px 0px 50px;
}

.imgpalmx img {
    width: 100%;
    /*padding: 30px 50px 0px 50px;*/
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.h2sus {
    float: left;
    margin-left: 30px;
}

@media (max-width: 768px) {

    p.sustain {
        padding: 20px;
        text-align: justify;
    }

    .leftmenu img {
        width: 50px !important;
        top: 40px !important;
        left: 5px !important;
    }

    .leftmenusus {
        height: 25px !important;
    }

    .rowsus {
        padding: 0px !important;
    }

    .h2sus {
        margin-left: 10px;
    }

    .imgpalm img {
        padding: 0px;
    }

    .img_container {
        height: 50%;
        width: 50%;
    }

    .col-half-offset {
        margin-left: 24.166667%
    }

}


/* ============== cer =============== */

.leftcer {
    height: 45px;
    width: 300px !important;
    margin-left: -120px !important;
    margin-bottom: -5px;
    left: 0px;
    bottom: 0px;
    position: relative;
}

.rowcer {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px !important;
}

@media (max-width: 768px) {

    .leftcer {
        height: 30px;
        width: 150px !important;
        margin-left: -20px !important;
    }

}


/* ============== product =========== */

.rowproducts {
    border: 1px solid #929292;
    padding: 2rem 0.5rem;
}

.desk1 {
    color: #1c5630;
    font-weight: bold;
    position: absolute;
    top: -21%;
}

.borderpro {
    text-align: center;
    border: 1px solid #a5a5a5;
}

.bortop {
    border-top: 0px;
    margin-top: -20px !important;
}

.noboright {
    border-right: 0px;
}

.activepro {
    background-color: #2ac8a1;
}

h1.pro {
    margin: 50px 0px;
    color: #ffffff;
}

h3.pro {
    padding-left: 30px;
    font-weight: bold;
    font-size: 25px;
}

h5.pro {
    font-weight: bold;
    margin: 20px 0px;
}

@media (max-width: 768px) {
    .noboright {
        border: 1px solid #a5a5a5;
    }

    h3.pro {
        padding-left: 10px;
    }

    .bortop {
        border-top: 1px solid #a5a5a5;
        margin-top: 0px !important;
    }

}


/* ============== commitment ======== */

h1.com {
    color: #fff;
    font-weight: bold;
    padding: 0px 2em;
    font-size: 40px;
    margin-bottom: 15px;
}

p.com {
    color: #fff;
    padding: 0px 5em;
}

.bgcom {
    background-color: #004D23;
}

.colcom {
    margin-top: 3em;
    padding: 0px !important;
}

.colcom1 {
    margin-top: 0px;
    padding: 0px !important;
}

.rightlogo img {
    width: 100%;
    padding: 2em;
}

@media (max-width: 768px) {

    h1.com {
        font-size: 20px;
        padding: 10px;
        margin: 20px 0px 0px 0px;
    }

    p.com {
        padding: 10px;
        text-align: justify;
    }

    .rightlogo {
        text-align: center;
    }

    .rightlogo img {
        width: 50%;
        padding: 10px;
    }

    .colcom {
        margin-top: 1em;
    }

}

/* loader */

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(loader.gif) center no-repeat #fff;
}


/* ============== footer ============= */

.foot {
    background-color: #729b54;
    padding: 20px;
    color: #fff;
}

.foot a {
    color: #fff;
}

.foot a:hover {
    color: #fff;
    list-style: underline;
}

.social {
    float: right;
}

.socialicon {
    font-size: 20px;
    margin: 0px 10px;
}

.socialicon a {
    color: #fff;
}

h5.headfooter {
    margin: 0px 0px 15px 0px;
    color: #fff;
    font-size: 17px;
}

.subfooter {
    font-size: 14px;
}

@media (max-width: 768px) {
    .social {
        float: none;
        margin: 0px 0px 20px 20px;
    }

    h5.headfooter {
        margin: 15px 0px 15px 0px;
    }
}

/* ============== grievance ============= */

.sustain {
    font-size: 15px;
}

.pstyle {
    font-size: 15px;
    font-weight: bold;
    color: #004D23;
}

.table-container {
    overflow: auto;
}

.headingline {
    color: #1c5630;
    text-shadow: 0 1px 1px white;
    line-height: 1;
    font-weight: 700;
    clear: both;
}

.centerImage {
    margin: 20px auto;
    text-align: center;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -80px;
}

table tr th {
    font-weight: 400 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    padding: 10px 15px !important;
    background: #1c5630;
    background-image: -moz-linear-gradient(top, #008139, #1c5630);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008139), to(#1c5630));
    background-image: -webkit-linear-gradient(top, #008139, #1c5630);
    background-image: -o-linear-gradient(top, #008139, #1c5630);
    background-image: linear-gradient(to bottom, #008139, #1c5630);
    background-repeat: repeat-x;
}

@media (max-width: 768px) {


    p {
        padding: 10px;
    }

    p.sustain {
        padding: 15px;
        text-align: justify;
    }


}

.w3codemasters_time_slote h3 {
    font-size: 100px;
    text-align: center;
}

.w3codemasters_time_slote {
    position: relative;
}

.owl-carousel .owl-nav button.owl-next {
    background-color: #525252;
    color: rgba(43, 43, 43, 0.96);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    line-height: 20px;
    position: absolute;
    right: 0px;
    top: 12px;
}

.owl-carousel .owl-nav button.owl-prev {
    background-color: #525252;
    color: #594cff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    line-height: 20px;
    position: absolute;
    left: 0px;
    top: 12px;
}


.w3codemasters_time_slote ul.nav.nav-tabs li a span {
    display: block;
    text-transform: capitalize;
}

.w3codemasters_time_slote ul.nav.nav-tabs {
    margin-bottom: 20px;
}


.w3codemasters_time_slote .owl-dots {
    display: none;
}


.w3codemasters_time_slote ul.nav.nav-tabs li a strong {
    display: block;
}

.w3codemasters_time_slote ul.nav.nav-tabs {
    border: none;
}

.w3codemasters_time_slote ul.nav.nav-tabs li.active a {
    background-color: #03a9f4 !important;
    color: #fff;
    text-decoration: none !important;
}

.w3codemasters_time_slote ul.nav.nav-tabs li a {

    text-decoration: none !important;
}

.w3codemasters_time_slote .tab-content {
    background-color: #fff;
    padding: 20px;
}
{
    box-sizing: border-box;
}
.menu {
    float: left;
    width: 20%;
}
.menuitem {
    padding: 8px;
    margin-top: 7px;
    border-bottom: 1px solid #f1f1f1;
}
.main {
    float: left;
    width: 60%;
    padding: 0 20px;
    overflow: hidden;
}
.right {
    background-color: lightblue;
    float: left;
    width: 20%;
    padding: 10px 15px;
    margin-top: 7px;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
        width: 80%;
        padding: 0;
    }
    .right {
        width: 100%;
    }
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
    }
}
