#sync1 .item {
  background: #0c83e7;
  padding: 80px 0px;
  margin: 5px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
}

#sync2 .item {
  background: #C9C9C9;
  margin: 5px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 768px){
  #sync3 .item {
    background: #0c83e7;
    padding: 50px 0px;
    margin: 0px;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
  }
}
.rowproducts1 {
  padding: 1rem 0.2rem;
  font-size: 1rem;

}

.pro1 {
  height: 70px;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  padding: 15px 0px;
  line-height: 15px;
  text-align: center;
  font-weight: bold;
  /*vertical-align: middle;*/
  color:white;
  /*margin: auto;*/
  /*font-size: 1rem;*/
  /*word-wrap: break-word;*/
  /*overflow-wrap: break-word;*/
}
.desk1 {
  color: #1c5630;
  font-weight: bold;
  position: absolute;
  top: -14%;
}
#sync2 .item h1 {
  font-size: 18px;
}
#sync2 .current .item {
  background: #f9fbff;
}
.owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */
}
.owl-theme .owl-nav [class*='owl-'] {
  transition: all 0.3s ease;
}
.owl-theme .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}
#sync1.owl-theme {
  position: relative;
}
#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
#sync1.owl-theme .owl-prev {
  left: 00px;
}
#sync1.owl-theme .owl-next {
  right: 10px;
}


#sync3.owl-theme {
  position: relative;
}
#sync3.owl-theme .owl-next,
#sync3.owl-theme .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
#sync3.owl-theme .owl-prev {
  left: 00px;
}
#sync3.owl-theme .owl-next {
  right: 10px;
}

body .carousel-control-prev-icon,
body .carousel-indicators li,
body .carousel-control-next-icon {
  background-color: transparent;
}

span.carousel-control-prev-icon {
  position: relative;
  bottom: 0px;
  right: 100px;

  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 35px solid #000;
}

span.carousel-control-next-icon {
  position: relative;
  bottom: 0px;
  left: 100px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 35px solid #000;
}

.carousel-item-child {
  height: 28rem;
  background-color: #fff;
}

.card-img-top {
  height: auto !important;
}

.desk1 {
  color: #1c5630;
  font-weight: bold;
  position: absolute;
  top: -14%;
}

@media (max-width: 768px) {
  .carousel-item-child {
    height: 55rem !important;
  }

  .card-img-top {
    margin-bottom: 25px !important;
  }

  span.carousel-control-prev-icon {
    position: relative;
    bottom: 10px;
    right: 20px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #000;
  }

  span.carousel-control-next-icon {
    position: relative;
    bottom: 10px;
    left: 20px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #000;
  }
}

